.todo {
  text-align: center;
}

.name{
  display: flex;
  justify-content: space-evenly;
}
.display{
margin-top: 30px;
display: flex;
flex-wrap: wrap;


}
.card{
  background-color: greenyellow;
  margin-left: 30px;
}
.btn{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.li{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}